/* @charset "UTF-8";
ページ全体を上部中央に配置する
body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
	margin: 0;
}
#startButton, #stopButton {
	width: 150px;
	height: 50px;
	font-size: 16px;
    border-radius: 25px;
    border: 2px solid #80808080;
   	background-color: #80808080;
    color: white;
    transition: background-color 0.3s;
}
 マウスオーバー時の色
#startButton, #stopButton:hover {
	background-color: #808080;
} */